amp: true
bundle_root: null
ckpt_path: $@bundle_root + '/model_fold' + str(@fold)
use_pretrain: true
pretrained_path: $@bundle_root + '/pretrained_model' + '/swin_unetr.base_5000ep_f48_lr2e-4_pretrained.pt'
data_file_base_dir: null
data_list_file_path: null
determ: false
finetune:
  activate: false
  pretrained_ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
fold: 0
infer:
  ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
  data_list_key: testing
  fast: false
  ouptut_path: $@bundle_root + '/prediction_' + @infer#data_list_key
input_channels: 1
learning_rate: 0.0001
loss:
  _target_: DiceCELoss
  batch: true
  include_background: true
  sigmoid: $not @softmax
  smooth_dr: 1.0e-06
  smooth_nr: 0
  softmax: $@softmax
  squared_pred: true
  to_onehot_y: $@softmax
lr_scheduler:
  _target_: torch.optim.lr_scheduler.StepLR
  gamma: 0.5
  optimizer: $@optimizer
  step_size: $max(@num_epochs // 5, 1)
num_images_per_batch: 3
num_epochs: 2000
num_epochs_per_validation: 20
num_patches_per_image: 1
num_sw_batch_size: 1
optimizer:
  _target_: torch.optim.AdamW
  lr: '@learning_rate'
  weight_decay: 1.0e-05
output_classes: 2
overlap_ratio: 0.25
patch_size:
- 96
- 96
- 96
patch_size_valid:
- 96
- 96
- 96
softmax: true
validate:
  ckpt_name: $@bundle_root + '/model_fold' + str(@fold) + '/best_metric_model.pt'
  ouptut_path: $@bundle_root + '/prediction_fold' + str(@fold)
  save_mask: true
