holoscan~=2.0
numpy>=1.21.6
colorama>=0.4.1
typeguard>=3.0.0
setuptools>=59.5.0
coverage>=5.5
parameterized
matplotlib
scikit-image>=0.17.2
pydicom~=2.3.0
PyPDF2>=2.11.1
highdicom>=0.18.2
SimpleITK>=2.0.0
Pillow>=8.4.0
nibabel>=3.2.1
numpy-stl>=2.12.0
trimesh>=3.8.11
torch>=2.0.1
monai>=1.0.0
