name: release
# generating and testing package artefacts from the main branch

on:
  push:
    branches:
      - temp-test
  workflow_dispatch:

jobs:
  packaging-algo:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
        ref: main
    - name: Algo name
      id: name
      run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
    - name: Build
      env:
        release_version: ${{ steps.name.outputs.sha_short }}
      run: |
        echo $release_version
        cd auto3dseg/
        tar -cvzf "$release_version".tar.gz algorithm_templates
    - name: Upload
      uses: actions/upload-artifact@v3
      with:
        name: ${{ steps.name.outputs.sha_short }}
        path: auto3dseg/${{ steps.name.outputs.sha_short }}.tar.gz
